@page "/counter"
@page "/counter/{startingValue:int}"
@page "/onur"
@layout MainLayout



<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me (@increaseBy)</button>




@code {
    [Parameter]
    public int startingValue { get; set; }  // in Router initialized, so cannot have default value here!


    [Parameter]
    public int increaseBy { get; set; } = 2;

    private int currentCount;



    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        currentCount = startingValue;

    } 

    private void IncrementCount()
    {

        currentCount += increaseBy;

    }
}