@page "/"
@using Microsoft.JSInterop
@inject IJSRuntime JS

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="This is a sub component." />

@*<Counter increaseBy=5 startingValue=1000 />*@

<p>Id: @gelenId, X: @x</p>

<object @ref="svgElement" id="testsvg" data="/test.svg" type="image/svg+xml" style="width:1000px;height:1000px;"></object>
<div id="svgContainerId" @onclick="handleClick" ></div>


@code{

    private string gelenId = "id";
    private double x;
    private ElementReference svgElement;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            var dotNetReference = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("getElement", svgElement, dotNetReference);
            Console.WriteLine("OnAfterRenderAsync--- firstRender");
        }
        Console.WriteLine("OnAfterRenderAsync");
    }

    [JSInvokable("GetId")]
    public void GetId(string id)
    {
        gelenId = id;
        Console.WriteLine("--->" + gelenId);
        StateHasChanged();
    }

    private void handleClick(MouseEventArgs e)
    {
        x = e.ClientX;
        Console.WriteLine("X: " + e.ClientX);
        Console.WriteLine("id:" + gelenId);
        @*Console.WriteLine("X: " +  e.ClientX + "Y: " e.ClientY + "id:" + gelenId);*@
    }

    protected override void OnInitialized()
    {
        Console.WriteLine("OnInitialized");

        base.OnInitialized();
    }


}