@page "/referencing"

    <div style="background-color: lightgoldenrodyellow; padding: 1rem;">

        <h3>Referencing Child and eventCallback</h3>

        <div class="row">

            <input class="form-control w-25" @bind="gidenDeger" @bind:event="oninput" @onkeyup="()=> child.SetDeger(gidenDeger)" />

            <button class="btn btn-primary" @onclick="()=> { child.ToggleGoster(); show=!show; }"> @(show ? "Hide" : "Show") it!</button>

        </div>

        <ReferencedChild @ref="child" setShow="setShow" setGiden="setGiden"/>

    </div>

        @code {

            private ReferencedChild child;

            private string gidenDeger;
            private void setGiden(string value) => gidenDeger = value;

            private bool show=false;
            private void setShow(bool value) => show = value;


        }

