@page "/render_fragment"

<h2>RenderFragment (Template: Man kann mehrere children component passen)</h2>

<FieldTemplate >
    <Label>
        <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
    </Label>
    <Control>
        <input type="text" class="form-control" style="width:20%" placeholder="Name">
    </Control>
</FieldTemplate>

<FieldTemplate>
    <Label>
        <label for="inputPassword" class="col-sm-2 col-form-label">Sur Name</label>
    </Label>
    <Control>
        <input type="text" class="form-control col-4" placeholder="Last Name">
    </Control>
</FieldTemplate>

<FieldTemplate>
    <Label>
        <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
    </Label>
    <Control>
        <input type="email" class="form-control w-50" placeholder="Email">
    </Control>
</FieldTemplate>

<FieldTemplate>
    <Label>
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    </Label>
    <Control>
        <input type="password" class="form-control w-25" placeholder="Password">
    </Control>
</FieldTemplate>

@code {

}
