@page "/sales"
@inherits BlazorServerApp.BaseComponents.DateTimeBaseComponent

<Titel titel="Sales"/>

<DateComponent />

<p>von DateTimeBaseComponent: @vakit</p>
<p>von DateTimeBaseComponent: @evakit</p>
<p>von DateTimeBaseComponent: @something</p>

@code {

}
