<div style="width:@($"{size * 300}px");">
    <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
    <!-- Created with Inkscape (http://www.inkscape.org/) -->

    <svg viewBox="0 0 210 297"
         version="1.1"
         id="svg5"
         inkscape:version="1.1.2 (b8e25be8, 2022-02-05)"
         sodipodi:docname="test.svg"
         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:svg="http://www.w3.org/2000/svg">

        <sodipodi:namedview id="namedview7"
                            pagecolor="#ffffff"
                            bordercolor="#666666"
                            borderopacity="1.0"
                            inkscape:pageshadow="2"
                            inkscape:pageopacity="0.0"
                            inkscape:pagecheckerboard="0"
                            inkscape:document-units="mm"
                            showgrid="false"
                            inkscape:zoom="0.55678311"
                            inkscape:cx="396.02494"
                            inkscape:cy="561.25984"
                            inkscape:window-width="1312"
                            inkscape:window-height="847"
                            inkscape:window-x="0"
                            inkscape:window-y="25"
                            inkscape:window-maximized="0"
                            inkscape:current-layer="layer1" />


        <rect style="fill:pink;fill-rule:evenodd;stroke-width:3"
              id="rect1411"
              width="30"
              height="30"
              x="0"
              y="0" />






        <defs id="defs2" />
        <g inkscape:label="Layer 1"
           inkscape:groupmode="layer"
           id="layer1">
            <path style="fill:none;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                  d="M 38.966399,44.1936 C 102.168,130.68 -5.2271998,154.44 57.974399,119.2752 121.176,84.110398 121.6512,80.308798 121.6512,80.308798"
                  id="path42" />
            <path style="fill:none;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                  d="M 118.8,161.0928 72.2304,81.2592"
                  id="path44" />
            <path sodipodi:type="star"
                  style="fill:#ffff00;fill-rule:evenodd"
                  id="path154"
                  inkscape:flatsided="false"
                  sodipodi:sides="5"
                  sodipodi:cx="330.46979"
                  sodipodi:cy="150.86665"
                  sodipodi:r1="91.597603"
                  sodipodi:r2="45.798801"
                  sodipodi:arg1="0.48995733"
                  sodipodi:arg2="1.1182759"
                  inkscape:rounded="0"
                  inkscape:randomized="0"
                  d="m 411.2912,193.97141 -60.79663,-1.9157 -36.04465,48.99678 -16.96526,-58.41302 -57.73711,-19.13966 50.31153,-34.18554 0.36115,-60.825731 48.05949,37.285201 57.96032,-18.452717 -20.60913,57.229057 z"
                  transform="scale(0.26458333)"
                  inkscape:transform-center-x="1.3097974"
                  inkscape:transform-center-y="1.0328958" />
            <path sodipodi:type="star"
                  style="fill:#ffff00;fill-rule:evenodd"
                  id="path156"
                  inkscape:flatsided="false"
                  sodipodi:sides="5"
                  sodipodi:cx="204.74759"
                  sodipodi:cy="486.72455"
                  sodipodi:r1="91.949097"
                  sodipodi:r2="45.974548"
                  sodipodi:arg1="0.2165503"
                  sodipodi:arg2="0.84486884"
                  inkscape:rounded="0"
                  inkscape:randomized="0"
                  d="m 294.54917,506.48089 -59.28232,14.62729 -21.55845,57.12779 -32.23062,-51.86076 -60.99368,-2.84984 39.3627,-46.679 -16.13772,-58.88908 56.5581,23.01155 51.02002,-33.54562 -4.40787,60.90092 z"
                  transform="scale(0.26458333)"
                  inkscape:transform-center-x="-0.73264188"
                  inkscape:transform-center-y="1.615292" />
            <path sodipodi:type="star"
                  style="fill:#ffff00;fill-rule:evenodd"
                  id="path158"
                  inkscape:flatsided="false"
                  sodipodi:sides="5"
                  sodipodi:cx="441.82376"
                  sodipodi:cy="255.03647"
                  sodipodi:r1="52.20863"
                  sodipodi:r2="26.104315"
                  sodipodi:arg1="0.46364761"
                  sodipodi:arg2="1.0919661"
                  inkscape:rounded="0"
                  inkscape:randomized="0"
                  d="m 488.52058,278.38488 -34.66948,-0.17993 -19.80289,28.45789 -10.54233,-33.02824 -33.18449,-10.03969 28.15396,-20.23265 -0.70626,-34.66275 27.94244,20.52377 32.748,-11.38307 -10.88458,32.91704 z"
                  transform="scale(0.26458333)"
                  inkscape:transform-center-x="0.63573594"
                  inkscape:transform-center-y="0.6997437" />
            <ellipse style="fill:#ff0000;fill-rule:evenodd;stroke-width:0.264583"
                     id="path182"
                     cx="113.5728"
                     cy="166.0824"
                     rx="26.136"
                     ry="22.571999" />
            <text xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:10.5833px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
                  x="97.416"
                  y="104.544"
                  id="text252"><tspan sodipodi:role="line"
                                      id="tspan250"
                                      style="stroke-width:0.264583"
                                      x="97.416"
                                      y="104.544">jjhghjh</tspan></text>
            <path style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.264583"
                  id="path919"
                  d="m 24.055448,151.13595 c 1.435823,6.86338 3.184866,12.6509 7.689649,18.30275 1.949783,2.44626 4.430112,4.41786 6.645169,6.62679 0,0 2.488906,-1.52434 2.488906,-1.52434 v 0 c -2.175788,-2.20411 -4.631653,-4.16316 -6.527358,-6.61233 -4.32571,-5.58863 -6.139095,-11.72289 -6.858293,-18.59286 0,0 -3.438073,1.79999 -3.438073,1.79999 z" />
            <path style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.264583"
                  id="path921"
                  d="m 76.221179,141.94512 c -0.06155,1.46781 -0.0061,2.9452 -0.184647,4.40341 -0.309343,2.52701 -0.874861,5.01619 -1.2762,7.53023 -1.89272,11.85624 -4.300333,25.5852 -0.07308,37.26738 1.667298,4.60765 4.858274,8.51107 7.287408,12.76661 3.703939,3.31065 6.989418,7.15969 11.111812,9.93194 11.286238,7.58985 23.991458,9.88224 37.088358,6.31626 8.39352,-2.28536 12.9968,-6.21794 20.22255,-10.9719 0,0 -2.68439,1.05416 -2.68439,1.05416 v 0 c -1.84255,1.35432 -3.51574,2.97605 -5.52766,4.06294 -3.16038,1.70731 -6.43848,3.29012 -9.89471,4.26858 -8.03459,2.27461 -16.34932,2.56587 -24.43224,0.1243 -12.3423,-3.72818 -14.492611,-7.53683 -23.888741,-15.93595 -2.389018,-4.246 -5.545944,-8.14365 -7.167049,-12.73798 -3.025394,-8.5742 -2.304677,-17.82212 -1.236138,-26.58216 0.447952,-3.67237 1.284975,-7.28703 1.982509,-10.92027 0.496054,-2.58378 1.156907,-5.13572 1.598002,-7.72945 0.25814,-1.51793 0.331636,-3.06155 0.497456,-4.59233 0,0 -3.42324,1.74423 -3.42324,1.74423 z" />
            <path style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.264583"
                  id="path923"
                  d="m 64.376947,35.360943 c 4.296405,-0.111101 8.568862,-0.36712 12.844532,0.579485 4.291054,0.95001 8.577484,2.15315 12.558926,4.014274 10.380285,4.852263 19.015875,11.372313 25.722415,20.828918 3.51013,4.949481 5.56926,10.782244 8.35389,16.173368 1.28474,6.360739 3.23179,12.622948 3.85424,19.082213 1.35259,14.036179 -0.41766,26.319329 -3.7242,39.934779 -1.52153,6.26525 -3.81056,12.31882 -5.71585,18.47823 0,0 1.59486,-0.75376 1.59486,-0.75376 v 0 c 1.86596,-6.14793 4.09587,-12.19697 5.59787,-18.4438 1.58821,-6.60535 3.01873,-13.28643 3.65765,-20.04993 1.74134,-18.433309 -0.1416,-21.347959 -3.62448,-39.183881 C 122.73014,70.597836 120.68017,64.74479 117.19683,59.751827 108.21851,46.882465 94.695919,38.149535 79.677137,34.193636 75.81544,33.176477 71.536877,33.179324 67.533112,33.067855 c 0,0 -3.156165,2.293088 -3.156165,2.293088 z" />
            <path style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.264583"
                  id="path925"
                  d="m 94.61697,110.84122 c 13.9083,-0.81183 27.61543,-3.4833 41.30462,-5.92144 0,0 2.07205,-1.56217 2.07205,-1.56217 v 0 c -13.31962,2.38973 -26.71431,5.10914 -40.297857,5.22988 0,0 -3.078813,2.25373 -3.078813,2.25373 z" />
            <path style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.264583"
                  id="path927"
                  d="m 165.06891,47.578785 c 0.25306,6.298223 0.26888,6.264322 0.46406,14.398781 0.60844,25.357182 1.1079,50.719064 1.55518,76.079474 0.2159,21.23451 0.83651,42.51546 -0.93593,63.70595 -0.76122,9.10077 -1.4558,13.34219 -2.66493,22.06617 -0.91919,5.4104 -2.5991,15.67395 -3.74846,20.64289 -0.94195,4.07221 -1.87377,8.16526 -3.26504,12.10664 -1.29258,3.66178 -2.89115,7.22904 -4.76155,10.63214 -3.80621,6.92518 -5.4155,7.88741 -10.5703,13.00353 -1.5547,0.99306 -2.97546,2.23636 -4.6641,2.97913 -0.35136,0.15457 -0.67141,-0.43233 -1.05395,-0.46392 -1.27617,-0.10536 -2.5662,0.17983 -3.84107,0.0598 -1.40275,-0.13211 -2.78044,-0.47366 -4.14812,-0.81222 -3.90493,-0.96666 -8.67385,-2.66629 -12.36166,-3.89692 -2.62977,-1.10275 -5.33187,-2.04681 -7.88931,-3.30824 -10.007935,-4.93639 -19.735066,-11.522 -27.238088,-19.86194 -5.947199,-6.61058 -7.987766,-10.9351 -12.382998,-18.44972 -1.306605,-2.70314 -2.61321,-5.40628 -3.919815,-8.10943 0,0 -2.569548,1.46219 -2.569548,1.46219 v 0 c 1.366223,2.67697 2.732447,5.35394 4.098673,8.0309 4.341027,7.25515 6.761041,12.05238 12.51368,18.4606 7.242337,8.06768 17.381014,15.17995 26.991986,20.13806 2.52088,1.30048 5.20372,2.25954 7.80558,3.38931 3.88187,1.41949 8.03858,3.0639 12.07142,4.1497 2.01389,0.54221 5.90507,1.47918 8.08864,0.89662 5.37919,-1.43518 7.17549,-3.04398 11.42913,-5.8801 4.9566,-5.13768 6.3891,-6.00544 10.05294,-12.89278 4.33647,-8.15173 5.78978,-13.7713 7.98368,-22.78235 2.13563,-8.77173 2.56097,-12.28975 3.93666,-20.75695 1.37185,-11.89058 2.62858,-23.76398 3.0161,-35.7388 0.53372,-16.49292 -0.21138,-32.9957 -0.58504,-49.48097 -0.58486,-30.50168 -1.16164,-61.03193 0.0447,-91.526685 0,0 -3.45257,1.75917 -3.45257,1.75917 z" />
            <use id="use1079"
                 inkscape:spray-origin="#path927"
                 xlink:href="#path927"
                 x="0"
                 y="0"
                 width="100%"
                 height="100%"
                 transform="translate(9.0230364,-5.9190011)" />
            <use id="use1081"
                 inkscape:spray-origin="#path927"
                 xlink:href="#path927"
                 x="0"
                 y="0"
                 width="100%"
                 height="100%"
                 transform="translate(-5.5266366,-3.4764318)" />
            <rect style="fill:#0000ff;fill-rule:evenodd;stroke-width:0.264583"
                  id="rect1407"
                  width="22.809599"
                  height="0.95039999"
                  x="29.462399"
                  y="75.081596" />
            <rect style="fill:#0000ff;fill-rule:evenodd;stroke-width:0.264583"
                  id="rect1409"
                  width="42.768002"
                  height="37.065598"
                  x="51.796799"
                  y="90.287994" />
            <rect style="fill:#0000ff;fill-rule:evenodd;stroke-width:0.264583"
                  id="rect1411"
                  width="23.213779"
                  height="51.828461"
                  x="92.735023"
                  y="50.814739" />
            <rect style="fill:#0000ff;fill-rule:evenodd;stroke-width:0.264583"
                  id="rect1413"
                  width="44.181629"
                  height="47.852448"
                  x="40.879169"
                  y="174.54115" />
            <path sodipodi:type="spiral"
                  style="fill:none;fill-rule:evenodd;stroke:#000000"
                  id="path1438"
                  sodipodi:cx="255.24326"
                  sodipodi:cy="124.98087"
                  sodipodi:expansion="1"
                  sodipodi:revolution="3"
                  sodipodi:radius="53.433331"
                  sodipodi:argument="-20.525251"
                  sodipodi:t0="0"
                  d="m 255.24326,124.98087 c -0.28052,-2.66433 3.45307,-1.69262 4.4283,-0.46623 2.6428,3.32342 -0.17987,7.8695 -3.49583,9.32284 -5.93148,2.59967 -12.3594,-1.73662 -14.21738,-7.4579 -2.72665,-8.39621 3.2943,-16.92654 11.41996,-19.11191 10.83022,-2.91276 21.52324,4.84968 24.00645,15.38202 3.12487,13.25388 -6.40331,26.13455 -19.34409,28.90099 -15.67301,3.35053 -30.75419,-7.95583 -33.79552,-23.30615 -3.58411,-18.08983 9.50763,-35.379049 27.26821,-38.690066 20.50531,-3.822701 40.00739,11.058956 43.58461,31.230286 4.06466,22.91994 -12.60996,44.63815 -35.19235,48.47914 -25.33403,4.309 -49.2707,-14.16073 -53.37368,-39.15442 -4.55508,-27.74773 15.71132,-53.90458 43.11648,-58.268211"
                  transform="scale(0.26458333)" />
            <path sodipodi:type="spiral"
                  style="fill:none;fill-rule:evenodd;stroke:#000000"
                  id="path1440"
                  sodipodi:cx="272.9968"
                  sodipodi:cy="251.44441"
                  sodipodi:expansion="1"
                  sodipodi:revolution="3"
                  sodipodi:radius="214.3231"
                  sodipodi:argument="-18.159109"
                  sodipodi:t0="0"
                  d="m 272.9968,251.44441 c 8.28461,6.84382 -5.138,14.54399 -11.37488,13.76957 -16.90156,-2.09862 -21.58141,-23.04571 -16.16427,-36.51931 9.69,-24.10112 40.2773,-29.72951 61.66376,-18.55897 31.3855,16.3932 38.09178,57.73277 20.95368,86.8082 -22.8424,38.75298 -75.26643,46.54367 -111.95266,23.34837 -46.16586,-29.18891 -55.04158,-92.83703 -25.74307,-137.09709 35.48443,-53.60487 110.42839,-63.5661 162.24154,-28.13777 61.06001,41.75105 72.10729,128.03266 30.53247,187.38598 C 335.15361,410.96915 237.50781,423.103 170.62295,375.37056 94.624109,321.13394 81.403228,212.10604 135.30107,137.69569 195.76631,54.218526 316.18899,39.910206 398.12039,99.979116 489.07978,166.66699 504.47588,298.49375 438.23166,387.94288"
                  transform="scale(0.26458333)" />
            <path sodipodi:type="star"
                  style="fill:#ffff00;fill-rule:evenodd"
                  id="path1464"
                  inkscape:flatsided="false"
                  sodipodi:sides="5"
                  sodipodi:cx="247.85236"
                  sodipodi:cy="565.74994"
                  sodipodi:r1="107.59713"
                  sodipodi:r2="53.798565"
                  sodipodi:arg1="0.58337301"
                  sodipodi:arg2="1.2116915"
                  inkscape:rounded="0"
                  inkscape:randomized="0"
                  d="m 337.65393,625.01898 -70.89481,-8.90219 -47.52476,53.35466 -13.44121,-70.17589 -65.42926,-28.71124 62.58768,-34.4689 7.08725,-71.09918 52.12253,48.87294 69.80943,-15.23047 -30.37419,64.67404 z"
                  transform="scale(0.26458333)"
                  inkscape:transform-center-x="2.3398293"
                  inkscape:transform-center-y="0.39526073" />
            <path sodipodi:type="star"
                  style="fill:#ffff00;fill-rule:evenodd"
                  id="path1466"
                  inkscape:flatsided="false"
                  sodipodi:sides="5"
                  sodipodi:cx="281.97693"
                  sodipodi:cy="747.14911"
                  sodipodi:r1="141.47667"
                  sodipodi:r2="70.738335"
                  sodipodi:arg1="-0.14010172"
                  sodipodi:arg2="0.48821681"
                  inkscape:rounded="0"
                  inkscape:randomized="0"
                  d="m 422.06738,727.39276 -77.61643,52.93629 -0.39429,93.94895 -74.3302,-57.4594 -89.4726,28.65683 31.67784,-88.44815 -54.90282,-76.23805 93.90818,2.79543 55.5408,-75.77453 26.3606,90.17582 z"
                  transform="scale(0.26458333)"
                  inkscape:transform-center-x="-2.0032133"
                  inkscape:transform-center-y="-1.6152961" />
            <path sodipodi:type="star"
                  style="fill:#ffff00;fill-rule:evenodd"
                  id="path1468"
                  inkscape:flatsided="false"
                  sodipodi:sides="5"
                  sodipodi:cx="285.569"
                  sodipodi:cy="933.9364"
                  sodipodi:r1="135.94191"
                  sodipodi:r2="67.970955"
                  sodipodi:arg1="-0.2674108"
                  sodipodi:arg2="0.36090773"
                  inkscape:rounded="0"
                  inkscape:randomized="0"
                  d="m 416.6793,898.01577 -67.51826,59.92278 11.08582,89.59105 -77.85424,-45.6965 -81.78046,38.2284 19.40169,-88.16478 -61.62893,-65.96462 89.84515,-8.79231 43.69169,-78.99678 36.12566,82.73084 z"
                  transform="scale(0.26458333)"
                  inkscape:transform-center-x="-0.51940556"
                  inkscape:transform-center-y="-2.9369006" />



            <Symbols/>




        </g>

    </svg>

</div>

@code {
    private int size = 2;
}

