@page "/todo"

<h1>ToDos</h1>

<input @bind="todo" @bind:event="oninput" />
<p>test: @todo </p>

<input @bind="modo" />
<p>test: @modo </p>
sdfs

@code {

    string todo = "todo1";

    string modo = "modo1";
}