<div style="background-color:pink; padding:.5rem;">
    <h3>ChildComponent</h3>

    <p>kelime1:@dededengeldi1 </p>
    <p>Sabit1:@dededengeldi2 </p>
</div>

    @code {
        [CascadingParameter(Name ="Isim1")]
        private string dededengeldi1 { get; set; }

        [CascadingParameter(Name = "Sabit1")]
        private string dededengeldi2 { get; set; }
    }
